body::selection{
    color:maroon;
}
.container-fluid{
    padding:0;
}
.container{
    margin:0px; 
}
/*Back to Top button css*/
#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:rgb(255,214,214);
   /* text-indent:-9999px;*/
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
    z-index:12;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:maroon;
}
#scroll:hover {
    background-color:maroon;
    opacity:1;  
    filter:"alpha(opacity=100)";         
}
/*Navbar Styles*/
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
    color:maroon;
    border-bottom: 2px solid maroon;
}
.navbar-brand{
    padding-top:9px;
}
.nav-link{
    padding:0;
    margin-top:3px;
    padding-top:3px;
    padding-bottom:7px;
}
.nav-item{
   
    margin-left: 5px;
}
.navbar-light .nav-item .nav-link{
    color:maroon;
    margin-bottom: 5px;
    border-bottom:2px solid transparent;
}
   /*Dropdown styling*/
   .dropdown-toggle::after { content: none;}
    .dropdown-menu a:link{ background-color: rgb(255, 255, 255); }
    .dropdown-menu a:hover { background-color: maroon; opacity:1; color:white;} 
    .navbar .nav-item:hover .dropdown-menu{ display: block; }

    /*Background*/
    
.myclass{
    background-image: url("./images/fashion11.jpeg");
    background-size: 100% 100%;
    background-attachment: fixed;
    height:682px;
    opacity:.85;
}

/*Tagline Effects*/
.typing_effect h1{
    position:relative;text-align:center;padding-top:25%;
    
}
#tagline {
  font-size:0.75em;
  font-family: 'Sonsie One', cursive;
  text-align: center;
  overflow: hidden;
  color:maroon;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  text-shadow: 0 0 3px maroon, 0 0 12px white 
  
}
#tagline p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
p span.cursor{
  display: inline-block;
  background-color:maroon;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
 p span.cursor.typing {
    animation: none;
    background-color:rgb(255, 167, 167);
  }
@keyframes blink {
    0%  { background-color: maroon; }
    49% { background-color: maroon; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: maroon; }
  }


/*ABout us part*/
.about-us p{
    padding:10px 70px 20px 70px;
    text-justify: auto;
    font-family: 'Baloo Tammudu 2', cursive;

}
.about-us h2{
    font-family: 'Baloo Tammudu 2', cursive;
    text-align:center;
    padding-top:25px;
    position:relative;text-align:center;color:maroon;-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;text-shadow: 0 0 3px maroon, 0 0 10px white;
}

.row{
    margin:0px;
    margin-right:0px;

}  


/*Categories Part*/
.categoryclass{
    text-align:center;
    font-family: 'Baloo Tammudu 2', cursive;
}
.categoryclass h2{
    position:relative;
    text-align:center;

    font-family: 'Baloo Tammudu 2', cursive;
    color:maroon;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-shadow: 0 0 3px maroon, 0 0 10px white;
}

.women .row .col-sm{
    padding:0px;
}
.women  h3{
    padding:15px 0px 25px 0px;
    color:rgb(248, 44, 139);
}
.men .row .col-sm{
    padding:0px;
}
.men h3{
    padding:5px 0px 25px 0px;
    color:rgb(53, 198, 247);
}
.kids .row .col-sm{
    padding:0px;
}
.kids  h3{
    padding:10px 0px 25px 0px;
    color:orange;
}

/*Image Zoom Effect*/
#img1{
    height: fit-content;
    width: fit-content;
    margin:auto;
}
.img-hover-zoom {
    overflow: hidden; 
  }
.img-hover-zoom--brightness img {
    transition: transform 2s, filter .5s ease-in-out;
    transform-origin: center center;
    filter: brightness(100%);
    height:195px;
    width:150px;
  }
/* The Transformation */
.img-hover-zoom--brightness:hover img {
filter: brightness(100%);
transform: scale(1.3);
}


/*Footer Part*/
.footer-header{
    padding:10px 390px;
   
}
.footer-header h2{
    display:inline-block;
    text-align:center;
    font-family: 'Courgette', cursive;font-size:xx-large;
    color:#ffb6c1;
    padding:0px 0px 20px 7px;
    margin:0px;
}
#socialmedia img{
	height: 25px;
	width: 25px;
}
#socialmedia ul{
    padding:0px;
    
}
.footer ul lh{
    color:pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer ul li{
    color:white;
}
 .col-sm-3{
    max-width:21%;
}
.col-sm-3:nth-child(3){
    max-width:21%;
}
.col-sm-3 ul{
    width:320px;
}
 .col-sm-3:nth-child(4){
    max-width:90%;
    padding:0px ;
}
 .col-sm-3:nth-child(4) ul{
    padding:0px;
}
.col-sm-3  input[type='submit']{
    display: inline;
    margin:0px;
    color:white;
    background-color: transparent;
    border: 2px solid white;
}
 .col-sm-3  input[type='submit']:hover{
    color:maroon;
    font-style:bold;

    background-color: white;
    border: 2px solid white;
}
 .col-sm-3  input[type='email']{
    color:white;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid white;
}
 .col-sm-3 input[type='email']:focus {
    outline:none;
    border:none;
    border-bottom:2px solid white;

}
 .col-sm-3 input[type='submit']:focus {
    outline:none;
}


/*Login Page CSS*/
.loginclass form .is-invalid{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    
}
.loginclass form span.is-invalid{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.loginclass form{
    border:2px solid transparent;
    background-color: white; 
    margin:auto; 
    border-radius: 6px; 
    width: 700px;
}
.loginclass form h1{
    color: maroon;font-family: 'Courgette', cursive;font-size:xx-large;

}

.loginclass form input{
    padding: 12px 20px;
    border:none;
    outline:none;
    border-bottom:2px solid pink;
    align-items:center;
    justify-content: center;
    margin:auto;
  }
  .loginclass form input:focus{
      border-bottom:2px solid maroon;
      outline:none;
  }
  .loginclass form input[type=submit]{
      background-color: transparent;
       border:2px solid pink;
  }
  .loginclass form input[type=submit]:hover{
      background-color: maroon;
      color:white;
       border:2px solid maroon;
       border-radius:5px;
       cursor:pointer;
  }
  .loginclass form a{
           
    text-decoration: none;
}
.loginclass form a:hover{
    text-decoration: none;
}
.loginclass form img, h4{
    margin:20px 20px;
}
.loginclass form h1{
 margin-top: 10px;
}


/*Sign-in Page CSS*/
.signinclass form{
    border:2px solid transparent;background-color: white; margin:auto; border-radius: 6px; width: 700px;
}
.signinclass form .is-invalid{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    
}
.signinclass form input{
       
    padding: 12px 20px;
    margin: 8px 0;
    border:none;
    outline:none;
    
    border-bottom:2px solid pink;
  }
.signinclass form input:focus{
      border-bottom:2px solid maroon;
      outline:none;
  }
.signinclass form input[type=submit]{
    background-color: transparent;
    border:2px solid pink;
  }
.signinclass form input[type=submit]:hover{
    background-color: maroon;
    color:white;
     border:2px solid maroon;
     border-radius:5px;
     cursor:pointer;
}
.signinclass form a{
           
    text-decoration: none;
}
.signinclass form a:hover{
    text-decoration: none;
}
.signinclass form img, h4{
    margin:20px 20px;
}
.signinclass form h1{
 margin-top: 10px;
}
.signinclass button{
    padding: 12px 20px;
    margin: 8px 0;
    width:100px;
    background-color: transparent;
    border: 2px solid pink;
    text-decoration: bold;
    border:none;
    border-radius:5px;

}
.signinclass button:hover{
    background-color: maroon;
    color:white;
     border:2px solid maroon;
     border-radius:5px;
     cursor:pointer;
    outline:none;
  
}

/*Customer care*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    color:rgb(75, 39, 50);
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color:  #ffd6d6; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color:rgb(255,214,214) ;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .modal-content p{
      display:inline;
  }
  
  /* The Close Button */
  .close {
    color: rgb(75, 39, 50);
    float: right;
    font-size: 28px;
    font-weight: bold;
    display:inline;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.customercareclass h2{
    font-family: 'Baloo Tammudu 2', cursive;
    text-align:center;
    padding-top:25px;
    position:relative;text-align:center;color:maroon;-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: white;text-shadow: 0 0 3px maroon, 0 0 10px white;
}
.customercareclass h5{text-align:center;  font-family: 'Baloo Tammudu 2', cursive; color: maroon;}
.customercareclass .row .col-sm:nth-child(1){
    width:25%;background-color: white;   font-family: 'Baloo Tammudu 2', cursive; color: maroon;
}
.customercareclass .row .col-sm:nth-child(2){
   text-align:center;
}
.contactus{
    margin:auto;
}
.custcareform {
    margin:auto;
}
.custcareform1 form{
    background-color:rgb(255,214,214); margin:auto; border:none; border-radius: 10px;text-align: center; max-width:694px;width:694px
}
.custcareform1 .is-invalid{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.365em + .1865rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    
}
.custcareform1 form .isinvalid{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.510em + .3050rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    
}
.custcareform1 form .is--invalid{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='5.5'/%3e%3cpath stroke-linejoin='round' d='M6.0 3.8h.4L6 6.6z'/%3e%3ccircle cx='6' cy='8.2' r='.7' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.510em + .3050rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    
}
.custcareform1 form input{
    width: 50%;
    padding: 12px;
    border:none;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    border-radius:5px;

}
.custcareform1 form textarea{
    width: 50%;
    padding: 12px;
    border:none;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    resize:none;
    border-radius:5px;

}
.custcareform1 label{
    color:maroon;
    font-family: 'Baloo Tammudu 2', cursive;
}
.custcareform1 form input[type='submit']{
    width: 15%;
    padding: 12px;
    background-color: transparent;
    border-radius:5px;
    border: 1px solid black;
}
.custcareform1 input[type='submit']:hover{
width: 15%;
padding: 12px;
background-color: maroon;
color:white;
border:1px solid maroon;
border-radius:5px;
cursor:pointer;
}
.custcareform1 form select{
    width: 49%;
    content: "";
    padding: 12px;
    border:none;
    outline:none;
    border: 1px solid black;
    border-radius: 4px;
    background-color: transparent;
}

.custcareform1 input:focus {
    box-shadow:0 0 5px 1px maroon;
    outline:none;
}

.custcareform1 form select:focus {
    box-shadow:0 0 5px 1px maroon;
    outline:none;
}
#dropdown1 option:hover {
    background-color: maroon;
    color:white;
}
.custcareform1 textarea:focus {
    box-shadow:0 0 5px 1px maroon;
    outline:none;
}
/* FAQ Part */
/* .faq{
    padding:50px;
    align-items:center;
    justify-content: center;
    width:100%;
    height:70vh;
    background-color:rgb(255, 214, 214); 
} */
.faqs {
    padding: 60px 25px;
    background-color:#ffd6d6; 
    /* border-top:2px solid maroon; */
  }
.faqs h4{
    font-family: 'Baloo Tammudu 2', cursive;
    align-items: center;
    justify-content: center;
    display: block;
    width: 100%;
    max-width: 768px;
    margin: 15px auto;
    padding: 15px;
}
  .faqs .faq {
    display: block;
    width: 100%;
    max-width: 768px;
    margin: 15px auto;
    padding: 15px;
    background-color: #FFF;
    border-radius: 8px;
    font-family: 'Baloo Tammudu 2', cursive;
    box-shadow: 0px 0px 10px rgb(240, 147, 147);
  }
  .faqs .faq .question {
    position: relative;
    color: maroon;
    font-size: 20px;
    transition: all 0.4s linear;
    font-family: 'Baloo Tammudu 2', cursive;
  }
  .faqs .faq .question:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%) rotate(0deg);
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uZSIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3Mi4wMDAwMnYtMTcyLjAwMDAyaDE3Mi4wMDAwMnYxNzIuMDAwMDJ6IiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9Im5vbnplcm8iPjwvcGF0aD48ZyBmaWxsPSIjODAwMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik03OC44MzMzMywxNC4zMzMzM3Y2NC41aC02NC41djE0LjMzMzMzaDY0LjV2NjQuNWgxNC4zMzMzM3YtNjQuNWg2NC41di0xNC4zMzMzM2gtNjQuNXYtNjQuNXoiPjwvcGF0aD48L2c+PC9nPjwvc3ZnPg==");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.4s linear;
  }
  .faqs .faq .answer {
    opacity: 0;
    max-height: 0px;
    transition: all 0.4s ease-out;
    color: #3c3c3c;
    font-size: 18px;
  }
  .faqs .faq.open .question {
    margin-bottom: 15px;
  }
  .faqs .faq.open .question:after {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAKklEQVRIie3MMQ4AAATF0M/J3ZyFWSLGvqlTJQBY2URI+TmOfvvnFACOCrRUAgT0m/BqAAAAAElFTkSuQmCC);
  }
  .faqs .faq.open .answer {
    opacity: 1;
    max-height: 1000px;
  }
/*Product Page*/
.productclass{
    font-family: 'Baloo Tammudu 2', cursive;
    padding:10px;
}
.prodiv{
    display:flex;
}
.catdiv{
    width:20%;
    background-color:rgb(255, 220, 226);
    height:213vh;
    font-family: 'Dancing Script', cursive;
    cursor:pointer;
    
}
.catdiv h1{
    padding:0px 30px;
}
.catdiv h3{
    margin:10px;
    padding:5px 38px;

}
.itemdiv{
    width:80%;
    height:max-content;
    
}
.itemdiv .row{
    margin:10px;
}
.itemdiv .row .col-sm{
    align-items: center;
    justify-content: center;
    width:max-content;
    margin:0px;
    padding:10px auto;
}
.itemdiv .row .col-sm .prodcard{
    align-items: center;
    justify-content: center;
    border:none;
    width:max-content;
    margin:0;
    margin-right:0px

}
.itemdiv .row .col-sm .prodcard img{
    width:190px;
    height:200px;
}
.itemdiv .row .col-sm .prodcard:hover{
    box-shadow: 0 0 5px 3px rgb(247, 177, 177);
    cursor: pointer;
    border-radius:3px;
    
}
.itemdiv .row .col-sm .prodcard .prodetails{
    border-radius:3px;
    font-size: medium;
    margin:0; padding:5px; align-items: center; justify-content: center; background-color: rgb(240, 240, 240);
}
.proddetails img{
    height: 15px;
    width:15px;
}